@{
    ViewBag.Title = "Index";
}
<link href="~/StyleSheet.css" rel="stylesheet" />

<div class="jumbotron" style="background-color:ActiveBorder">
    <h1>Technical test</h1>
    <p class="lead">Buenas tardes, Mi nombre es Alejandro Aguirre Ruiz</p>
    <p class="lead">Esta es mi entrega de la prueba tecnica sobre Libreria</p>


</div>

<div class="row" style="background-color:ActiveCaption">
    <div class="col-md-6">
        <h2>Analisis</h2>
        <p>
            Realice un analisis de los requerimientos que pedian, luegoa realice un modelo de entidad relacion
            Al final de lo enviado pideron que solo creara el CRUD para Estudiante y Libro
        </p>
    </div>
    <div class="col-md-6">
        <h2>Diseño</h2>
        <p>Ajuste toda la pagina para que quedara con boostrap para mejorar el diseño
        Realice las pruebas para cada modulo y hago entrega del test</p>
    </div>
    
</div>