@model IEnumerable<Pasucall.Models.tbl_Estudiante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estudiantes</h2>

<a  class="btn btn-success" onclick=@Html.ActionLink("Agregar Estudiante", "Create",null, new { @class = "agregar" }) <p>
    </p> 
</a>


<table class="table table-dark">

    <tr>
        <th>
            <label>Documento</label>
        </th>
        <th>
            <label>Nompre Completo</label>
        </th>
        <th>
            <label>Programa</label>
        </th>
        <th><label>Acciones</label></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_completo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.programa)
            </td>
            <td>
                <a class="btn btn-outline-info"  onclick=@Html.ActionLink("Editar ", "Edit", new { id = item.documento})></a>       
                <a  class="btn btn-outline-warning"onclick=@Html.ActionLink("Detalles", "Details", new { id = item.documento })></a>
                <a  class="btn btn-outline-light" onclick=@Html.ActionLink("Eliminar", "Delete", new { id = item.documento })> </a>


            </td>
        </tr>
    }

</table>
