.sect {
    position: absolute;
    top: 0;
    background-color: #000000;
    padding: 5px;
    border: 3px;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    width:100%;
}

.txt {
    position: relative;
    left: 400px;
}

.form-group {
    font-size: large;
}

.btnEst {
    position: relative;
    
}

#documento-error, #nombre_completo-error, #programa-error {
    position: relative;
    right: 400px;
    color: coral;
}

.table{
    text-align:center;
}

#codigo-error, #nombre_autor-error, #nombre_libro-error, #fecha_nacimiento-error, #fecha_publicacion-error {
    position: relative;
    right: 400px;
    color: coral;
}


a.my-class {
    color: #ffffff;
}
a.my-class:active {
        color: #4cff00;
}

a.my-class:link {
        color: #00b9ff;
}
    a.my-class:visited {
        color: #ffffff;
    }

body {
    background-color: #ffffff;
}
.navbar-brand {
    color: #ffffff
}

.agregar {
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -9999px; /* hides the link text */
}

